:root {
    --dark: #403F3D;
    --light:#E1D4C9;
    --accent:#B0907A;
    --container:#665F55;
    --backdrop:#403F3D 80%;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    max-height: 4388px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    font-family: 'inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}

h1.accent{
    font-style: italic;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}

h2.accent{
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

ul{
    list-style: none;
    
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}

footer {
    display: flex;
    height: 450px;
    align-self: flex-end;
}

a {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

footer#contacts {
    max-width: 1360px;
}

.header-menu {
    display: flex;
    height: 60px;
    max-width: 1440px;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
    align-content: center;
    color: var(--dark);
    font-weight: 600;
    line-height: 24px;   
}

.coffee-menu {
    align-self: center;
}

.hero.svg-image {
    max-width: 1360px;
    max-height: 644px;
}

.svg-image {
    border: 2px goldenrod;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero.container {
    width: 1360px;
    padding: 0 40px 0 40px 0;
}

.footer.container {
    display: flex;
    width: 1360px;
    background: var(--container);
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    gap: 100px;
    padding: 100px;
}

.offer {
    display: grid;
    width: 530px;
    height: 250px;
}

.contacts-info {
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.favorite-coffee {
    display: flex;
    align-items: center;

}

.favorite-coffee.container {
    text-align: center;
}

.image1.Frappuccino, .image2.Macchiato, .image3.Ice-coffee {
    width: 1152px;
    height: 640px;
}

.social {
    display: inline-grid;
    grid-auto-flow: row;
    max-height: 100px;
    max-width: 204px;
    max-width: fit-content;
    gap: 12px;
}

.slider {
    display: grid;
    align-self: center;
}

#contact-link {
    text-decoration: none;
    color: var(--light);
}

#hero-image {
    max-width: 1360px;
    height: 644px;
    border-radius: 40px;
}

#Footer-Text1 {
    color: var(--light);
    line-height: 75px;
}

#Footer-Text2 {
    color: var(--accent);
    line-height: 75px;
}


