:root {
    --dark: #403F3D;
    --light:#E1D4C9;
    --accent:#B0907A;
    --container:#665F55;
    --backdrop:#403F3D 80%;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    max-height: 4388px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    font-family: 'inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    gap: 20px;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

ul{
    list-style: none;
    
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}

footer {
    display: flex;
    height: 450px;
    align-self: flex-end;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}


#applestore-btn, #playstore-btn{
    display: flex;
    align-items: center;
    background: var(--light);
    padding: 12px 20px;
    width: 200px;
    height: 64px;
    border: 1px solid var(--dark);
    border-radius: 100px;
    gap: 8px;
}

#applestore-btn:hover, #playstore-btn:hover{
    background: var(--container);
}

footer#contacts {
    max-width: 1360px;
}

.nav-list{
    transition: 1ms;
}

.nav-list:hover {
    text-decoration: underline;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--dark);
}

.btn:hover {
    color:var(--light);
}

.btn.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: none;
    margin-top: 40px;
}

.btn.menu:hover {
    color: var(--dark);
}

.btn.menu-svg:hover {
    visibility:visible !important;
}

.caption {
    font-size: 10px;
    font-weight: 600;
    line-height: 140;
}

.applestore-logo:hover {
    fill: var(--light);
}

.accent{
    font-style: italic;
}

.header-menu {
    display: flex;
    height: 60px;
    max-width: 1440px;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
    align-content: center;
    /* font-weight: 600;
    line-height: 24px;    */
}

.logo {
    align-self: flex-start;
}
.coffee-menu {
    align-self: center;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-text {
    margin-top: -65px;
    width: 530px;
    margin-left: -650px;
    padding-top: 100px;
    text-align: left;
}

.hero.container {
    /* position: relative; */
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-image: url(./images/hero-image.png);
    width: 1360px;
    height: 644px;
    border-radius: 40px;
}

.container {
    box-sizing: border-box;
    width: 1360px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer.container {
    display: flex;
    background: var(--container);
    justify-content: space-around;
    border-radius: 40px;
    gap: 100px;
    padding: 100px;
    text-align: left;
}

.offer {
    width: 530px;
    height: 250px;
}

.footer-Text {
    margin-top: -60px;
    max-height: 150px;
}

.contacts-info {
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    gap: 40px;
}

.about.container {
    text-align: justify;
}

.image.Frappuccino, .image.Macchiato, .image.Ice-coffee {
    width: 480px;
    height: 480px;
    object-fit: contain;
}

.image1, .image2, .image3 {
    display: grid;
    grid-auto-flow: row;
    gap: 20;
    align-items: center;
}

.social {
    display: inline-grid;
    grid-auto-flow: row;
    max-height: 100px;
    max-width: 204px;
    max-width: fit-content;
    gap: 12px;
}

.row-slider {
    display: grid;
    grid-auto-flow: column;
    max-width: 1152px;
    overflow:scroll;
    grid-template-columns: 1fr;
    align-self: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.slider-container {
    display: grid;
    max-width: 1360px;
    width: 100%;
    height: 640px;
}

.images {
    display: flex;
    gap: 40px;
}

.column1, .column2 {
    display: grid;
    gap: 40px;
}

.about-picture {
    border-radius: 20px;
}

.about-picture.picture-1 {
    width: 660px;
    height: 590px;
}

.about-picture.picture-2 {
    width: 660px;
    height: 430px;
}

.about-picture.picture-3 {
    width: 660px;
    height: 430px;
}

.about-picture.picture-4 {
    width: 660px;
    height: 590px;
}

.mobile-app.container {
    display: flex;
    gap: 100px;
}

.menu.container {
    height: 1328px;
    text-align: center;

}

.menu-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.tab-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.item1, .item2, .item3 {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
    width: 115px;
    height: 46px;
}

.icon {
    border-radius: 100px;
    background: var(--light);
    width: 30px;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 310px;
    border: 1px solid #C1B6AD;
    border-radius: 40px;
}

.preview.image {
    width: 310px;
    height: 310px;
    border-radius: 40px;
}

.menu-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px;
    padding-bottom: 100px;
}

.contact-link {
    text-decoration: none;
    color: var(--light);
}

#socials {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    width: 204px;
    margin-top: -10px;
}

#hero-image {
    max-width: 1360px;
    height: 644px;
    border-radius: 40px;
}

#Footer-Text1 {
    color: var(--light);
    line-height: 75px;
}

#Footer-Text2 {
    color: var(--accent);
    line-height: 75px;
}


